.task-card {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8fbff;
    color: #002147;
}